html {
    background-color: #4f5d75;
}

.Phead {
    font-family: 'Trebuchet MS';
    color: #ef8354;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.InfoBanner {
    margin: auto;
    display: block;
    font-family: 'Trebuchet MS';
    text-align: center;
    font-size: 20px;
    color: #ef8354;
}

.Infobox {
    cursor: pointer;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    /* padding: 10px 20px; */
    width: 150px;
    height: 40px;
    display: inline-block;
    margin: auto;
    text-align: center;
    background-color: #d9d9d9;
    border: none;
    margin-top: 5px;
    margin-bottom: 15px;
}

.Infobox:hover {
    color: black;
    transition-duration: 0.4s;
    background-color: #ef8354;
}

.MotorBox {
    text-align: center;
    width: auto;
    height: auto;
    background-color: #d9d9d9;
    border-radius: 5px;
}

.PosicionHead {
    margin-bottom: 20px;
    padding-bottom: 57px;
    font-family: 'Trebuchet MS';
    font-size: 30px;
    text-align: center;
}

.Posicionvalor {
    padding-bottom: 50px;
    font-family: 'Trebuchet MS';
    text-align: center;
}

.Valuetomove {
   /* display: none;*/
    font-weight: normal;
    background-color: #878686;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 6px 6px 6px 6px;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    display: inline-block;
    text-align: center;
}

.Valuetomove input {
    display: block;
    margin: auto;
    width: auto;
    height: 26px;
    border: none;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.Select {
    padding-top: 5px;
    font-size: 20px;
    font-family: 'Trebuchet MS';
}

#Frecuencias {
    display: none;
    position: relative;
    background-color: #878686;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    margin-bottom: 15px;
}


.Control {
    font-size: 20px;
    font-family: 'Trebuchet MS';
    /* display: block;*/
    text-align: center;
    color: #141414;
    background-color: #d9d9d9;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.Control button {
    margin: 1em;
    background-color: #878686;
    border: none;
    border-radius: 2px;
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.Control button:hover {
    background-color: #f3eb80;
}